<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="Styles/main.css">



</head>

<body>
  <div id="app"> 

  <div class="header">
    <div class="container-fluid h-100">
      <div class="row align-items-center h-100">
        <div class="col-sm-2"><img class="rounded-circle img-fluid logo" alt="clubLogo"
            src="https://www.padelteams.pt/data/img/clogo_1771_pdieuezx1679485560.png" /></div>
        <div class="col-sm-8">
          <h1>{{ tournamentInfo.Name }}</h1>
        </div>
        <div class="col-sm-2">
          <div class="alert alert-dark h-100 w-100 mb-0" role="alert">
            Jogos decorridos
            <br />
            {{ tournamentInfo.GamesDone }} de {{ tournamentInfo.GamesTotal }}
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="content">
    <div class="container-fluid h-100">
      <div class="row h-50">
        
        <template v-for="field in tournamentInfo.Schedule">
        <div 
              v-bind:class="{ 'col-sm-4': tournamentInfo.ScheduleShowPerLine == 3 }"
              v-bind:class="{ 'col-sm-3': tournamentInfo.ScheduleShowPerLine == 4 }"
              v-bind:class="{ 'col-sm-6': tournamentInfo.ScheduleShowPerLine == 2 }"
              >
          <div class="scheduleHeader rounded">
            {{ field.CourtName }}
          </div>
          <div class="scheduleDetails ">
            <div class="content-fluid">
              <div class="row align-items-center m-auto w-100 scheduleDetailsRow" v-for="schedule in field.Games">
                <div class="col-sm-2 scheduleDetailsTime rounded"> {{schedule.StartTime}}</div>
                <div class="col-sm-10 scheduleDetailsTeams">
                  <div class="scheduleDetailsPlayer align-items-center h-100 rounded">
                    <div class="row align-items-center h-100">
                      <div class="col-sm-6">
                        <div class="text-left pl-3">{{schedule.TeamHome.Player1}} <br /> {{schedule.TeamHome.Player2}}</div>
                      </div>
                      <div class="col-sm-6">
                        <div class="text-right pr-3">{{schedule.TeamAway.Player1}} <br /> {{schedule.TeamAway.Player2}}</div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
              
             
            </div>
          </div>
        </div>
      </template>
      </div>
    </div>




  </div>




  <div class="footer">
    <div class="container-fluid h-100">
      <div class="row align-items-center h-100">
        <div class="col-sm-1">
          <div class="alert alert-dark h-100 w-100 mb-0 clock" role="alert">
            {{ timestamp }}
          </div>
        </div>
        <div class="col-sm-11 text-left">
          Ultima actualização: {{ tournamentInfo.LastUpdate}}
        </div>

      </div>
    </div>
  </div>
</div>
</body>

  <script src="https://unpkg.com/vue@3.2.13/dist/vue.global.js"></script>
  <script src="Scripts/main.js"></script>

</html>