html,
body {
  height: 100%;
}

.header {
  height: 160px;
  background-color: #FFDE32;
  color: #fff;
  text-align: center;

}

.content {
  height: 820px;
  background-color: #ddd;
  text-align: center;
  padding: 2%;
}

.footer {
  height: 100px;
  background-color: #FFDE32;
  color: #000;
  text-align: center;

}

.logo {
  max-height: 120px;
}

h1 {
  font-family: fantasy !important;
  font-size: 3.5rem;
  text-shadow: 1px 1px 2px #000000;
}

.clock {
  font-size: XX-large;
  font-weight: bold;
}

.scheduleHeader {
  background-color: #032067;
  height: 80px;
  line-height: 80px;
  color: #fff;
  text-align: center;
  font-family: fantasy !important;
  font-size: 2rem;
}

.scheduleDetailsTime {
  background-color: #FFDE32;
  line-height: 80px;
}

.scheduleDetailsRow {
  height: 90px;
}

.scheduleDetailsPlayer {
  background-color: #fff;
}

.scheduleDetailsTeams {
  height: 80px;
  padding-right: 0px;
}



/* Group Name style */
.classificationHeader {
  background-color: #fff;
  height: 80px;
  line-height: 80px;
  color: #000;
  text-align: center;
  font-family: fantasy !important;
  font-size: 2rem;
}

/* Header for the classification*/
.classificationDetailsHeader {
  height: 65px;

}

.classificationDetailsHeader>div {
  height: 50px;
  line-height: 50px;
  font-size: 1.5rem;
}

/* 1st column */
.classificationPosition {
  background-color: #FFDE32;
}

/*2nd column */
.classificationDetailsTeams {
  padding-right: 0px;
  background-color: #032067;
  color: #fff;
}

/*3rd column */

.classificationDetailsResults {
  padding-right: 0px;
  background-color: #fff;
  color: #000;
}


/* classification rows */

.classificationDetailsRow {
  height: 90px;
}

.classificationDetailsRow>div {
  height: 80px;
  line-height: 80px;
  font-size: 1.5rem;
  font-weight: bold;
}

.classificationDetailsRow>.classificationDetailsTeams {
  font-weight: normal;
  line-height: 35px;
}


.basicPlayoffHeader
{
  background-color: #fff;
  height: 80px;
  line-height: 80px;
  color: #000;
  text-align: center;
  font-family: fantasy !important;
  font-size: 2rem;
}


/* Header for the classification*/
.basicPlayoffDetailsHeader {
  height: 50px;

}

.basicPlayoffDetailsHeader>div {
  height: 40px;
  line-height: 40px;
  font-size: 1.5rem;
}



/* 1st column */
.basicPlayoffPosition {
  background-color: #FFDE32;
}

/*2nd column */
.basicPlayoffDetailsTeams {
  padding-right: 0px;
  background-color: #032067;
  color: #fff;
}

/*3rd column */

.basicPlayoffDetailsResults {
  padding-right: 0px;
  background-color: #fff;
  color: #000;
  font-size: 1.1rem !important;
}


/* classification rows */

.basicPlayoffDetailsRow {
  height: 85px;
}

.basicPlayoffDetailsRow>div {
  height: 80px;
  line-height: 80px;
  font-size: 1.5rem;
  font-weight: bold;
}

.basicPlayoffDetailsRow>.basicPlayoffDetailsTeams {
  font-weight: normal;
  line-height: 35px;
}

.basicPlayoffContent
{
  padding-top: 0.3%;
}



/* Header for the finals*/
.quarterFinalPlayoffDetailsHeader {
  height: 90px;
  margin-bottom: 25px !important;

}

.quarterFinalPlayoffDetailsHeader>div {
  height: 80px;
  line-height: 80px;
  font-size: 1.5rem;
}

/* Header for the finals*/
.semiFinalPlayoffDetailsHeader {
  height: 90px;
  margin-bottom: 25px !important;
}

.semiFinalPlayoffDetailsHeader>div {
  height: 80px;
  line-height: 80px;
  font-size: 1.5rem;
}

/* Header for the finals*/
.finalPlayoffDetailsHeader {
  height: 90px;
  margin-bottom: 25px !important;

}

.finalPlayoffDetailsHeader>div {
  height: 80px;
  line-height: 80px;
  font-size: 1.5rem;
}

.quarterFinalPlayoffHeader
{
  background-color: #fff;
  height: 80px;
  line-height: 80px;
  color: #000;
  text-align: center;
  font-family: fantasy !important;
  font-size: 2rem;
  /* margin-top:45px; */
}

.semiFinalPlayoffHeader
{
  background-color: #fff;
  height: 80px;
  line-height: 80px;
  color: #000;
  text-align: center;
  font-family: fantasy !important;
  font-size: 2rem;
  /* margin-top:45px; */
  margin-bottom: 45px;

}

.finalPlayoffHeader
{
  background-color: #fff;
  height: 80px;
  line-height: 80px;
  color: #000;
  text-align: center;
  font-family: fantasy !important;
  font-size: 2rem;
  /* margin-top:45px; */
  /* margin-bottom: 45px; */

}

/* 1st column */
.finalPlayoffPosition {
  background-color: #FFDE32;
}

/*2nd column */
.finalPlayoffDetailsTeams {
  padding-right: 0px;
  background-color: #032067;
  color: #fff;
}

/*3rd column */

.finalPlayoffDetailsResults {
  padding-right: 0px;
  background-color: #fff;
  color: #000;
    font-size: 1.1rem;

}


/* classification rows */

.finalPlayoffDetailsRow {
  height: 85px;
}

.finalPlayoffDetailsRow>div {
  height: 80px;
  line-height: 80px;
  font-size: 1.5rem;
  font-weight: bold;
}

.finalPlayoffDetailsRow>.finalPlayoffDetailsTeams {
  font-weight: normal;
  line-height: 35px;
}

.finalPlayoffContent
{
  padding-top: 0.3%;
}


.finalPlayoffDetailsTeams .pl-3, .finalPlayoffDetailsTeams .pr-3
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  font-size: 1.0rem;
  word-break: break-all;
  max-width: 200px;


}


.classificationDetailsRow .pl-3, .classificationDetailsRow .pr-3
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  /* font-size: 1.2rem; */
  word-break: break-all;
  max-width: 220px;


}


.basicPlayoffDetailsTeams .pl-3, .basicPlayoffDetailsTeams .pr-3
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  font-size: 1.1rem;
  word-break: break-all;
  max-width: 200px;


}



